<footer class="fixed-bottom">
	<div class="container-fluid">
		<div class="d-flex justify-content-around align-items-center my-auto">
			<p class="col-md-4 text-center d-none"><!-- d-sm-block -->
				Some content
			</p>
			<p class="col-md-4 col-12 col-sm-6 text-center">
				<span id="copyRightYR"></span>
			</p>
			<p class="col-md-4 text-center d-none"><!-- d-sm-block -->
				Some content
			</p>
		</div>
	</div>
</footer>