<footer class="fixed-bottom">
	<div class="container-fluid">
		<div class="d-flex justify-content-around align-items-center my-auto">
			<p class="col-lg-4 col-md-4 text-center d-none d-md-block">
				Some content
			</p>
			<p class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
				&copy <span id="copyRightYR"></span> - GregoryWolfe.tech
			</p>
			<p class="col-lg-4 col-md-4 text-center d-none d-md-block">
				Some content
			</p>
		</div>
	</div>
</footer>