<!--<nav class="navbar navbar-default">
	<div class="container">
		<ul class="nav navbar-nav nav-tabs">
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Showcase</a></li>
			<li><a href="">Hire Me</a></li>
		</ul>
	</div>
</nav>

The system has changed in 4.0, need to look over documentation tomorrow.
-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gregory Wolfe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Showcase</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hire Me</a>
      </li>      
    </ul>
  </div>
</nav>