<!-- Setting responsive breakpoint on <= 768px -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top nav-fill">	
	<div class="container-fluid">
		  <a class="navbar-brand" href="#">
					<!--<img src="/images/wolfhead-small.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
					<!--<img src="/images/wolfhead-small.png" width="30" height="30" class="image-responsive center-block image-thumbnail" alt="">-->
				<span>gregorywolfe.tech</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#node-nav-primary" aria-controls="node-nav-primary" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			<div class="collapse navbar-collapse" id="node-nav-primary">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a href="" class="nav-link text-sm-center">Home</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link text-sm-center">About</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link text-sm-center">Showcase</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link text-sm-center">Blog</a>
				</li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle text-sm-center" id="node-nav-hire-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Hire Me
					</a>
					<div class="dropdown-menu" aria-labelledby="node-nav-hire-dropdown">
			          		<a class="dropdown-item" href="#">Clients</a>
			          		<a class="dropdown-item" href="#">Employers</a>
    					</div>
    				</li>
			</ul>
		</div>
	</div>
</nav>
