*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

#App deployment module, dev dependency only. This file contains sensitive data for deployment server
flightplan.js

#Database credentials module. This file contains unique sensitive data for deployment server
dbCredentials.js

#Blog credentials module.  This file contains unique sensitive data for deployment server
blogCredentials.js

pkg/
src/

#Ignore Express dependencies
**node_modules
