*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

#App deployment module, dev dependency only. This file contains sensitive data for deployment server
flightplan.js

pkg/
src/

#Ignore Express dependencies
**node_modules
