<!doctype html>
<html lang="en">

  <head>
    <title>Gregory Wolfe - Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <% include partials/styles.ejs %>
  </head>

  <body>
     <!-- Nav -->
    <% include partials/nav.ejs %>

    <!--CONTENT AREA **WIP**-->    

    <!--<% include partials/comingsoon.ejs %> -->
    <br><br><br>

    <div class="container-fluid">

      <div class="row justify-content-sm-center">
        <ol class="breadcrumb col-12">
          <li class="breadcrumb-item"><a href="#">Blog</a></li>
          <li class="breadcrumb-item"><a href="#">Category</a></li>
          <li class="breadcrumb-item active">Post</li>
        </ol>
      </div>

   
      <div class="row justify-content-sm-center">
        <div class="card border-danger col-sm-10">
          <div class="card-body">
            <blockquote class="card-blockquote">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>

        <div class="list-group col-sm-2">
          <a href="#" class="list-group-item list-group-item-action active">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
        </div>
    </div>

  </div>

  <% categories.forEach(function(category){ %>

      <li><%= category %></li>

  <%
      }); 
  %>

    <!--END CONTENT AREA -->
  
    <!--Footer -->
    <% include partials/footer.ejs %>
    <!-- Scripts-->
    <% include partials/scripts.ejs %>
  </body>
</html>