<!doctype html>
<html lang="en">

  <head>
    <title>Blog Admin Tools</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <% include partials/styles.ejs %>
  </head>

  <body>
     <!-- Nav -->
    <% include partials/nav.ejs %>
     

    <br><br><br><br>

    <div class="container-fluid">

      <!--CONTENT AREA **WIP**-->   
      <%
            if(success){
      %>

          <h2 class="text-center">Welcome, Admin!</h2>
          <h4 class="text-center"><a href="/blog/admin/logout">Log Out</a></h4>

          <form action="/blog/admin/publish" method="post">

            <!-- Category Controls Table-->
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">
                  <label class="col-form-label" for="newCategoryName">Name</label>
                </th>
                <th scope="col">
                  <label class="col-form-label" for="newCategoryImg">Image</label>
                </th>
                <th scope="col">
                  <label class="col-form-label" for="newCategoryAlt">Image Info</label>
                </th>
                <th scope="col">
                  <label class="col-form-label" for="newCategoryDesc">Description</label>
                </th>
              </tr>
            </thead>
            <tbody>
                  <tr>
                  <th scope="row">
                                <!-- Select or Create Category -->
                                <div class="form-group">
                                  <select class="custom-select">
                                    <option selected="">Choose Category</option>
                                    <option value="NEW">CREATE NEW CATEGORY</option>
                                    <%
                                          categories.forEach(function(category){
                                                %>
                                                <option value="<%=category.category %>"><%=category.category %>
                                                </option> 
                                                <%
                                          })
                                    %>
                                  </select>
                                </div>
                  </th>
                  <td>
                    <input class="form-control" placeholder="Name of new category" id="newCategoryName" type="text">
                  </td>
                  <td>
                    <input class="form-control" placeholder="Category image location" id="newCategoryImg" type="text">
                  </td>
                  <td>
                    <input class="form-control" placeholder="Category img alt text" id="newCategoryAlt" type="text">
                  </td>
                  <td>
                    <input class="form-control" placeholder="Category Description" id="newCategoryDesc" type="text"> 
                  </td>
                </tr>
            </tbody>
            </table>    


            <!-- Create or Delete Post of this Title-->
            <fieldset class="form-group">
              <legend>Create Or Delete</legend>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" name="optionsRadios" id="createPost" value="Create" checked="" type="radio">
                  Create New Post with this Title
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input class="form-check-input" name="optionsRadios" id="deletePost" value="Delete" type="radio">
                  Delete Post with this Title
                </label>
              </div>
            </fieldset>

            <!-- Post Title Input-->
            <div class="form-group">
              <label class="col-form-label col-form-label-lg" for="postTitle"><h5 class="text-center">Post Title</h5></label>
              <input class="form-control form-control-lg" placeholder="Title" id="postTitle" type="text">
            </div>                 

            <!-- Post Entry Text Area -->
            <div class="form-group">
              <label for="postText"><h5 class="text-center">Post Text Area</h5></label>
              <textarea class="form-control" id="postText" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

      <%
          }
      %>


  </div>

<br><br>

    <!--END CONTENT AREA -->
  
    <!--Footer -->
    <% include partials/footer.ejs %>
    <!-- Scripts-->
    <% include partials/scripts.ejs %>
  </body>
</html>