<!doctype html>
<html lang="en">

  <head>
    <title>Gregory Wolfe - Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <% include partials/styles.ejs %>
  </head>

  <body>
     <!-- Nav -->
    <% include partials/nav.ejs %>

    <!--CONTENT AREA **WIP**-->

    <br /><br /><br />

    <div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-sm-6 col-lg-4 text-center"><img src="/images/wolfhead-small.png" class="img-fluid"></div>
        </div>
    </div>


     <div class="jumbotron bg-dark text-white">
         <div class="container-fluid">
            <div class="row justify-content-sm-center">
                <!--XS behavior stacks -->
                <div class="col-sm-3 text-center">
                    col-sm-3
                </div>
                <div class="col-sm-3 text-center">
                    <h2>Example body text</h2>
                        <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                        <p><small>This line of text is meant to be treated as fine print.</small></p>
                        <p>The following is <strong>rendered as bold text</strong>.</p>
                        <p>The following is <em>rendered as italicized text</em>.</p>
                        <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
                </div>
                <div class="col-sm-3 text-center">
                    col-sm-3
                </div>
            </div>
        </div>
    </div>

    <!--  SNIPPET
    <div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-sm-3 text-center">col-sm-3</div>
            <div class="col-sm-3 text-center">col-sm-3</div>
            <div class="col-sm-3 text-center">col-sm-3</div>
        </div>
    </div>
    -->

    <!--END CONTENT AREA -->
  
    <!--Footer -->
    <% include partials/footer.ejs %>
    <!-- Scripts-->
    <% include partials/scripts.ejs %>
  </body>
</html>