<!doctype html>
<html lang="en">

  <head>
    <title>Development Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <% include partials/styles.ejs %>
  </head>

  <body>
     <!-- Including Partial Template -->
    <% include partials/nav.ejs %>



  

    <!-- Scripts-->
    <% include partials/scripts.ejs %>
  </body>
</html>