<!doctype html>
<html lang="en">

  <head>
    <title>Gregory Wolfe - Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <% include partials/styles.ejs %>
  </head>

  <body>
     <!-- Nav -->
    <% include partials/nav.ejs %>

    <!--CONTENT AREA **WIP**-->

    <br /><br /><br />

    <div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-sm-6 col-lg-4 text-center"><img src="/images/wolfhead-small.png" class="img-fluid"></div>
        </div>
    </div>


     <div class="jumbotron bg-dark text-white">
         <div class="container-fluid">
            <div class="row justify-content-sm-center">
                <!--XS behavior stacks -->
                <div class="col-12 col-md-3 text-center order-md-first">
                    <!--col-sm-3 -->
                </div>
                <div class="col-12 col-sm-10 col-md-6 text-center order-first order-md-unordered">
                    <h4 class="display-5 text-primary">Web Development</h4>
                    <p class="text-chalk">Welcome to my online portfolio.</p>
                </div>
                <div class="col-12 col-md-3 text-center order-last order-md-last">
                    <!--col-sm-3 -->
                </div>
            </div>
        </div>
    </div>

    <!--  SNIPPET
    <div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-sm-3 text-center">col-sm-3</div>
            <div class="col-sm-3 text-center">col-sm-3</div>
            <div class="col-sm-3 text-center">col-sm-3</div>
        </div>
    </div>
    -->

    <!--END CONTENT AREA -->
  
    <!--Footer -->
    <% include partials/footer.ejs %>
    <!-- Scripts-->
    <% include partials/scripts.ejs %>
  </body>
</html>