<!doctype html>
<html lang="en">

  <head>
    <title>Development Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Theme CSS -->
    <!-- Nodefolio CSS -->
    <link rel="stylesheet" href="/assets/nodefolio.css" type="text/css">
  </head>

  <body>
    
    <!-- Including Partial Template -->
    <% include partials/nav.ejs %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/jquery/js/jquery.slim.min.js"></script>
    <script src="/popper/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>