/* Style and Bootstrap overrides */

/*Custom Fonts*/
@import url('https://fonts.googleapis.com/css?family=Coda');

/*Many elements inherit bootstrap body properties. 
Overriding here  will cascade in many cases.*/
body{
	/*Theme - font: roboto */

	font-size: 1rem;
}

/*Nav font re-size*/
.navbar {
	font-size: 1.1rem;
}

.node-navBrand{
	font-family: 'Coda', cursive;
	color: #B83309;
	font-size: 1.5rem;
	/*Diffusing color values for glow effect. Inner remains base to maintain high contrast*/
	text-shadow: 0 0 10px #000,
				0 0 20px #000,
				0 0 30px #000,
				0 0 40px #FF003E,
				0 0 70px #FF003E,
				0 0 80px #FF4C00;

}

.bg-primary { /*Overriding theme primary color*/
	background-color: #1f7bc1 !important;
}

/*Modifying class due to bug, discussed on official bootstrap repo at
	https://github.com/twbs/bootstrap/issues/21874
	Caused by flex model inheritance.
	This fix is used in conjunction with using "nav-fill" justification class on the nav element.
*/
.navbar-nav{
	width: 100%;
}


footer{
	background-color: #1f7bc1;
	color: #FFF;
}

#copyRightYR{
	color: #EBF346;
	font-size: 1.2rem;
}

/*Custom Classes for WIP pages*/
.coming-soon-container{
	height: 100vh; /*Container for vertical centering in viewport.*/
	position: relative;
}
.coming-soon-child{
	top: 33%;
	position: relative;
}


/*Custom font color*/
.text-chalk{
	color: #DEE0AC;  /*E1E579 and FBFF7A, other options*/
}

/*May set up some breakpoints on typography, see https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
*/