<!DOCTYPE html>
<html>
<head>
	<title>EJS Home</title>
<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<!-- Including Partial Template -->
	<% include partials/nav.ejs %>
	<h1>EJS Home Page</h1>
	<p>Fake home page for sake of nav.</p>

</body>
</html>